* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: normal 20px sans-serif;
}
#conteúdo {
    position: absolute;
    margin: 10px;
    padding: 10px;
    left: 0;
    right: 0;
    background-color: #efefef;
}
#conteúdo h1 {
    margin: auto;
    text-align: center;
}
#containerDePreenchimento {
    display: grid;
    gap: 10px;
}
#containerDePreenchimento h2 {
    text-align: center;
}

.rendimentoLabel {
    display: inline-table;
    padding: 18px;
    width: 98px;
    text-align: center;
    font-size: 12px;
    color: black;
    border: solid 1px black;
}
#rendimentoLabel1 {
    border-radius: 10px 0px 0px 10px;
}
input[id="r1rendimento"]:checked ~ #rendimentoLabel1 {
    background-color: #ed8e53;
    color: white;
}
input[id="r2rendimento"]:checked ~ #rendimentoLabel2 {
    background-color: #ed8e53;
    color: white;
}

@media(min-width: 440px) {
    #conteúdo {
        margin: 42px;
        padding: 42px;
    }
}